.containerTop {
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

.containerMiddle {
  width: 100%;
  display: flex;
  flex-direction: row;
}

h3 {
  display: flex;
  justify-content: center;
}

.aa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

.kakaoMap {
  width: 70%;
  height: 500px;
}

.saveClinicList {
  width: 30%;
  height: 10px;
  display: flex;
  flex-direction: column;
}

.saveClinicList h3 {
  margin-top: 0;
}

.clinicDetail {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
